


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    text-align: center;
}


.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px; 
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card-info {
    margin-top: 10px;
}
