
#toast-container {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  max-width: 300px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}

.toast.show {
  opacity: 1;
}

.toast.success {
  background-color: #4CAF50;
}

.toast.error {
  background-color: #f44336;
}

.toast.warning {
  background-color: #ff9800;
}

.close {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.progress-bar-inner {
  height: 100%;
  background-color: #4CAF50; /* Change color if needed */
  transition: width 5s linear;
}
