@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --red: #fc3b56;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  display: flex;
}

li {
  list-style: none;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--light);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}

.sidebar .logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 90px;
  height: 64px;
  font-weight: 700;
  color: var(--dark);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--light);
  transition: all 0.3s ease;
  padding: 0 6px;
  margin-top: 50px;
}

.sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}

.sidebar .page-buttons {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.sidebar .page-buttons a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--dark);
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}

/* SIDEBAR */

/* CONTENT */
.content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}

/* NAVBAR */
nav {
  background: var(--light);
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

nav .separator {
  width: 1px;
  background: var(--grey);
  height: 12px;
  display: block;
  font-size: 18px;
  cursor: pointer;
  margin-right: auto;
}

.content .logout a {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--light);
  padding: 12px 10px 12px 2px;
  border-radius: 10px;
  background-color: red;
  white-space: nowrap;
}

.content .icon {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

/* NAVBAR */

/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}
main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Media */

@media screen and (max-width: 768px) {
  .content {
    position: relative;
    transition: all 0.3s ease;
    width: calc(100% - 60px);
  }
  nav .nav-link,
  nav .separator {
    display: none;
  }
}

/* MAIN */

main .info-data {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}
main .info-data .card {
  padding: 20px;
  border-radius: 10px;
  background: var(--light);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  min-width: 1000px;
}

table thead tr {
  text-align: center;
}

table th,
table td {
  padding: 20px 20px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

/*----------------------------------------------------------------*/
.notMain {
  width: 100%;
  padding: 24px 20px 20px 20px;
}

.notMain .notContent {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}

.notMain .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.notMain .notInfo-data {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  padding-left: 32.5%;
}

.notMain .notCard {
  padding: 20px;
  width: 400px;
  align-items: center;
  border-radius: 10px;
  background: var(--light);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}

.notMain .input-field {
  width: 100%;
  padding: 10px;

  border-radius: 8px;
  margin-bottom: 5px;
  box-sizing: border-box;
  transition: background-color 0.4s ease;
}
.notMain input {
  padding: 12px;
  margin-left: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.notMain .input-field:hover {
  background-color: var(--grey);
}

.notMain input:hover {
  border-color: #888;
}

.notMain .addButton {
  margin-top: 20px;
}

.notMain .addButton button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #858585;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notMain .addButton button:hover {
  background-color: #000000;
}
