#order-div {

    border-radius: 4px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#order-div h1 {
    padding-left: 5px;
    padding-top: 5px;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    overflow: hidden;
}

.order-item-card {
    outline: black solid 1px;;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    height:110px;
    width:95%;
    display:inline-flexbox;
    margin-bottom: 10px;
    margin-left: 2.5%;

}

.order-item-card img{
    height:100px;
    width: 100px;
}

.item_img, .item_name, .item_quantity, .increase-btn, .decrease-btn, .remove-btn, .item_return_status {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: inline-start;
}

.order-item-card button {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
}


.return-btn {
    margin-left: 5px;
    background-color: black;
    color: white;
}

#stockMessageDiv {
    font-size: 20px;
    color: red;
    margin-bottom: 5px;
}