#orders-div {
    margin-left: 10%;
    margin-right: 10%;
}

.order-card {
    outline: black solid 1px;;
    background-color: white;
    border-radius: 4px;
    height:110px;
    width: 70%;
    display:inline-flexbox;
    margin-bottom: 40px;
    margin-left: 15%;


}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: rgb(240, 240, 240);
}

.grid-container p {
    padding: 10px;
}

.order-info {
    padding: 10px;
}

.order-card a {
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    padding: 6px;
}