@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  height: 27rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--light);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.wrapper {
  margin: 2rem 0;
}

.text {
  margin-bottom: 0.5rem;
  font-size: 1em;
  text-align: center;
  color: var(--dark);
}

.emoji-selector {
  font-size: 1.6em;
  list-style-type: none;

  display: flex;
  justify-content: center;
}

.emoji-selector li {
  margin-right: 20px;
}

.emoji-selector label {
  cursor: pointer;
}

.emoji-selector input {
  display: none;
}

.emoji-selector input:checked + label span {
  border: 2px solid #000000;
}

.emoji-selector > span:not(:first-child) {
  margin-left: 1rem;
}

.emoji-selector > span {
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.emoji-selector > span:hover {
  transform: scale(1.4);
}
.emoji-selector span.selected {
  border: 2px solid #4caf50;
}

.Sinput {
  width: 100%;
  height: 30px;
  margin-bottom: 7px;
  background-color: var(--light);
  color: var(--dark);
  border: 3px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.Sinput:hover {
  border-color: #888;
}

.textarea {
  width: 100%;
  height: 9.5rem;
  display: block;
  resize: none;
  background-color: var(--light);
  color: var(--dark);
  border: 3px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.textarea:hover {
  border-color: #888;
}

.button1 {
  margin-top: 12rem;

  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #696969;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2 {
  margin-top: 12rem;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #cd4747;
  color: #fff;
  cursor: pointer;
  margin-left: 70px;
  transition: background-color 0.3s ease;
}

.button1:hover {
  background-color: rgb(62, 62, 62);
}

.button2:hover {
  background-color: #a72c2c;
}

